<div class="box-input-1  f-left ">
    <div>
       <label>
           Nome Científico
       </label>
        <input type="text" placeholder="">
    </div>
    <div>
       <label>
           Nome Popular
       </label>
        <input type="text" placeholder="">
    </div>
    <div>
       <label>
           Florada Início
       </label>
        <input type="text" placeholder="">
    </div>
    <div>
       <label>
           Florada Fim
       </label>
        <input type="text" placeholder="">
    </div>
    <div>
       <label>
           Estações
       </label>
        <input type="text" placeholder="">
    </div>
</div>
<div class="f-right ">
     imagem
</div>

<div class="f-left w-50">
    <div class="f-left w-100 default-mb">
        <div class="btn-default-01 f-left">
            <a href="#">Filtrar</a>
        </div>
        <div class="btn-default-01 f-right">
            <a href="#">Limpar</a>
        </div>
    </div>
</div>
