<div class="list-info">
    <p>Nome Abelha <i class="fa fa-plus f-right" aria-hidden="true" ></i></p>
    <div class="f-left wrapper-left-infos">
       <div class="f-left">
           <ul>
               <li>Nome Científico</li>
               <li>Florada Início</li>
               <li>Florada Fim</li>
               <li>Estações</li>
           </ul>
       </div>
       <div class="f-left">
           <ul>
                <li>Info nome científico</li>
                <li>25/05</li>
                <li>21/07</li>
                <li>Inverno</li>
            </ul>
       </div>
    </div>
    <div class="f-right wrapper-right-img">
        <div>
            <img src="../images/Abelha (1).jpg">
        </div>
    </div>
</div>

<div class="list-info">
    <p>Nome Abelha <i class="fa fa-plus f-right" aria-hidden="true" ></i></p>
    <div class="f-left wrapper-left-infos">
       <div class="f-left">
           <ul>
               <li>Nome Científico</li>
               <li>Florada Início</li>
               <li>Florada Fim</li>
               <li>Estações</li>
           </ul>
       </div>
       <div class="f-left">
           <ul>
                <li>Info nome científico</li>
                <li>25/05</li>
                <li>21/07</li>
                <li>Inverno</li>
            </ul>
       </div>
    </div>
    <div class="f-right wrapper-right-img">
        <div>
            <img src="../images/abelhapolitica.png">
        </div>
    </div>
</div>

<div class="list-info">
    <p>Nome Abelha <i class="fa fa-plus f-right" aria-hidden="true" ></i></p>
    <div class="f-left wrapper-left-infos">
       <div class="f-left">
           <ul>
               <li>Nome Científico</li>
               <li>Florada Início</li>
               <li>Florada Fim</li>
               <li>Estações</li>
           </ul>
       </div>
       <div class="f-left">
           <ul>
                <li>Info nome científico</li>
                <li>25/05</li>
                <li>21/07</li>
                <li>Inverno</li>
            </ul>
       </div>
    </div>
    <div class="f-right wrapper-right-img">
        <div>
            <img src="../images/Fotos-Abelha.jpg">
        </div>
    </div>
</div>
