<!DOCTYPE html>
<html lang="en" ng-app="myBeeApp">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apiculture DataBase</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/fonts.css">

    <!-- JS -->
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="../angular-route.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="../js/controllers/login/login.js"></script>
    <script type="text/javascript" src="../js/controllers/configuration/configuration.js"></script>
    <script type="text/javascript" src="../js/controllers/singup/singup.js"></script>
    <script type="text/javascript" src="../js/controllers/recovery-password/recovery-password.js"></script>
    <script type="text/javascript" src="../js/controllers/menu/menu.js"></script>
    <script type="text/javascript" src="../js/controllers/home/home.js"></script>
    <script type="text/javascript" src="../js/controllers/consult/consult.js"></script>




<!--    <base href="/">-->
</head>
<body ng-class="background-img">
   <div ng-controller="menu" ng-include="'menu.html'" ng-class="{{'changeDisplay'}}">
    </div>
    <main ng-view>

    </main>
</body>
</html>
