<!DOCTYPE html>
<html lang="en" ng-app="myBeeApp">
<head >
    <meta charset="UTF-8">
    <title>Apiculture DataBase</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- JS -->
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="../angular-route.min.js"></script>
    <script type="text/javascript" src="../app.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="../js/controllers/login/login.js"></script>
    <script type="text/javascript" src="../js/controllers/configuration/configuration.js"></script>
    <script type="text/javascript" src="../js/controllers/singup/singup.js"></script>
    <script type="text/javascript" src="../js/controllers/recovery-password/recovery-password.js"></script>



<!--    <base href="/">-->
</head>
<body>
    <h1>Working?</h1>
    <a href="#!/login">login</a>
    <a href="#!/configuration">Configurações</a>
    <a href="#!/singup">CADASTRE-SE</a>
    <a href="#!/recovery-password">ESQUECI MINHA SENHA</a>
<!--    <a href="#!/"></a>-->
    <main ng-view></main>
</body>
</html>
