<div class="menu  w-100 ">
    <div class="trapeze"></div>
    <div class="wrapper-content-menu">
        <div class="title">
            <h3>Base de Dados</h3>
            <h3>Apicultura</h3>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#!/home">Início</a>
                    <a href="#!/consult">Consultar</a>
                    <a href="#!/add">Adicionar</a>
                    <a href="#!/configuration">Configurações</a>
                    <a href="#!/logout">Sair</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
