<div class="app-container">
    <div class="box-preset w-100 default-mb info-user-header">
        <span class="bold-info"> Nome Usuário </span> | Ocupação, último acesso em Data de Acesso
    </div>
    <div class="medium-box f-left default-mb custom-info-box-1">
        <div class="no-padding-20 box-preset f-left w-100 default-mb ">
            <div class="w-100 f-left">
                <p class="f-left">Quantidade Inseridos</p>
                <i class="fa fa-database f-right" aria-hidden="true"></i>
            </div>
            <div class="w-100 f-left">
                <p class="f-left number">14</p>
                <p class="f-left">Espécies</p>
            </div>
        </div>
        <div class="no-padding-20 box-preset f-left w-100 default-mb ">
            <div class="w-100 f-left">
                <p class="f-left">Mais Acessado</p>
                <i class="fa fa-star f-right" aria-hidden="true"></i>
            </div>
            <div class="w-100 f-left">
                <p class="f-left">Queen Bee</p>
            </div>
        </div>
    </div>
    <div class="medium-box f-right box-preset">
        Último inserido
    </div>
    <div class="box-preset w-100 f-left default-mb">
        Quantidade por estação - Chart
    </div>

</div>
